* {
  margin: 0;
  padding: 0;
  font-family: "Roobert Pro", sans-serif;
  white-space: pre-line;
}
body {
  background-color: black;
  color: white;

  background-image: url("/background.png");
  background-position: left top;
  background-repeat: no-repeat;

  @include media-breakpoint-up(lg) {
    background-size: contain;
  }
}

$weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: var(--bs-primary);
}

.w-fit {
  width: fit-content !important;
}
.w-max {
  width: max-content !important;
}
.w-min {
  width: min-content !important;
}

.flex-center {
  justify-content: center !important;
  align-items: center !important;
}

.top-auto {
  top: auto;
}
.bottom-auto {
  bottom: auto;
}
.start-auto {
  left: auto;
}
.end-auto {
  right: auto;
}

.text-gradient {
  background-image: linear-gradient(90deg, white, var(--bs-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.vertical {
    background-image: linear-gradient(white, var(--bs-primary));
  }
}

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--bs-primary);
  border-radius: 50%;
  animation: flash 1s infinite;
  @keyframes flash {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
}
.btn:hover .dot {
  background-color: black;
}

.cursor-pointer {
  cursor: pointer !important;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.border-rainbow {
  // border-image-source: linear-gradient(90deg, white, var(--bs-primary));
  // border-image-slice: 1;

  background: black;
  color: white;

  position: relative;
  background-clip: padding-box;

  border-style: solid;
  border-color: transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;

    // Default vertical
    background-image: linear-gradient(#515dff, var(--bs-primary));
  }

  &.rainbow-hz {
    &:before {
      background-image: linear-gradient(-90deg, #515dff, var(--bs-primary));
    }
  }
  &.rainbow-45 {
    &:before {
      background-image: linear-gradient(45deg, #515dff, var(--bs-primary));
    }
  }
  &.rainbow-n45 {
    &:before {
      background-image: linear-gradient(-45deg, #515dff, var(--bs-primary));
    }
  }
}
