* {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
  white-space: pre-line;
}

body {
  background-color: black;
  color: white;

  background-image: url("/background.png");
  background-position: left top;
  background-repeat: no-repeat;

  @media (min-width: 992px) {
    background-size: contain;
  }
}

$weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

a.active {
  color: var(--bs-primary);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 992px) {
    $padding-x: 40px;
  }
}

.w-fit {
  width: fit-content !important;
}
.w-max {
  width: max-content !important;
}
.w-min {
  width: min-content !important;
}

.flex-center {
  justify-content: center !important;
  align-items: center !important;
}
