.header {
  .nav-item{
    &:hover{
        color: var(--bs-primary);
    }
  }
  .dot {
    width: 12px;
    height: 12px;
    background-color: var(--bs-primary);
    border-radius: 50%;
    animation: flash 1s infinite;
    @keyframes flash {
      0%,
      50%,
      100% {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }
  }
}
