.header {
  .nav-item {
    &:hover {
      color: var(--bs-primary);
    }
  }
}

.footer {
  .logo {
    max-width: 441px;
  }
  .border-rainbow {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    &::before {
      margin-bottom: 0;
    }
  }
  .link-type {
    min-width: 230px;
  }
  .link-title {
    position: relative;
    &::before {
      display: none;

      content: "";
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: var(--bs-primary);

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -2rem;
      @media (min-width: 992px) {
        display: block;
      }
    }
  }
  a:hover {
    color: var(--bs-primary);
  }

  @media (min-width: 1200px) {
    padding-right: 150px;

    .container {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .wrapper {
      padding-left: 150px !important;
      padding-right: 100px !important;
    }

    .border-rainbow {
      border-top-left-radius: 0;
      &::before {
        margin-left: 0;
      }
    }
  }
}
