.border-rainbow {
  // border-image-source: linear-gradient(90deg, white, var(--bs-primary));
  // border-image-slice: 1;

  $border-width: 1px;

  background: black;
  color: white;

  position: relative;
  background-clip: padding-box;

  border: $border-width solid transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border-width;
    border-radius: inherit;

    // Default vertical
    background-image: linear-gradient(#515dff, var(--bs-primary));
  }

  &.rainbow-hz {
    &:before {
      background-image: linear-gradient(-90deg, #515dff, var(--bs-primary));
    }
  }
  &.rainbow-45 {
    &:before {
      background-image: linear-gradient(45deg, #515dff, var(--bs-primary));
    }
  }
  &.rainbow-n45 {
    &:before {
      background-image: linear-gradient(-45deg, #515dff, var(--bs-primary));
    }
  }
}
