// pixel-perfect figma

.hero {
  .plus {
    display: none;
  }
}

@include media-breakpoint-up(xxxl) {
  html {
    font-size: 24px;
  }
  .container {
    max-width: 1675px;
  }
  .column-gap-4 {
    column-gap: 48px !important;
  }
  .row-gap-4 {
    row-gap: 56px !important;
  }

  .header {
    margin-top: 81px !important;
  }
  .hero {
    padding-top: 214px !important;
    padding-bottom: 226px !important;
    .hero-heading {
      max-width: 1080px;
    }
    .plus {
      display: block;
    }
  }
  .display-1 {
    font-size: 160px !important;
  }
  .fs-2{
    font-size: 54px !important;
  }

  
  .features {
    padding-top: 125px !important;
    padding-bottom: 50px !important;
  }
  .global {
    padding-top: 50px !important;
    padding-bottom: 90px !important;
  }
  .solutions {
    padding-top: 90px !important;
    padding-bottom: 175px !important;
  }
  .products {
    padding-top: 175px !important;
    padding-bottom: 96px !important;
  }
}
