.features {
  .card {
    background-color: transparent;
    // background-size: 120% 110%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    min-height: 400px;

    @media (min-width: 992px) {
      min-height: 540px;
    }
    @media (min-width: 1800px) {
      min-height: 662px;
      padding: 96px !important;
    }
    .icon {
      width: 100px;
      height: 100px;
      @media (min-width: 1800px) {
        width: 146px;
        height: 146px;
      }
      // @include media-breakpoint-up(lg) {
      //   width: 146px;
      //   height: 146px;
      // }
    }
    .card-text {
      margin-top: 107px !important;
    }
  }
}
