.partners {
  // background-image: url('/partners/bg-partners.png');
  position: relative;
  .bg {
    background-image: url("/partners/bg-partners.png");
    background-size: cover;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -10;
  }
  .partner-item {
    @media (min-width: 1800px) {
      //   min-width: 510px;
      width: 510px;
      height: 160px;
    }
    .icon {
      filter: brightness(1000%) grayscale(100%);

      width: 100%;
      max-height: 35px;

      @media (min-width: 992px) {
        max-height: 70px;
      }
      @media (min-width: 1200px) {
        width: auto;
        max-width: 270px;
      }
    }
  }
}
