.products{
    .item{
        background-position: right bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card-text{
        @media (min-width: 992px) {
            max-width: 310px;
        }
    }
}